.oi-regular-tamil {
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;   
  }

.grandstander-scribble {
  font-family: "Grandstander", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}


.oswald-title {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
  
